.title h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 60px;
  font-size: 2.6rem;
}
.title button{
    display: flex;
    position: absolute;
    top: 0px;
    right: 20px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: rgb(140 149 159 / 15%) 0px 3px 6px;
    width: 40px;
    height: 40px;
}

.icon{
  line-height: 1.5;
  color: rgb(36, 41, 47);
} 